name: Deploy to Pinata

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Script Dependencies
        run: |
          cd .github/actions/deploy-ipfs
          npm install

      - name: Run Upload Script
        env:
          PINATA_JWT: ${{ secrets.PINATA_JWT }}
        run: |
          node .github/actions/deploy-ipfs/index.js